nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    width: 100%;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 20;
    background-color:rgb(17 20 23);
    overflow: hidden;
}
.active{
    color:rgb(107,211,211);
    border-bottom: 2px solid white;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color:white;
    list-style-type: none;
    font-size: 20px;
}

nav ul a{
    cursor: pointer;
}

nav ul a:hover{
    color:rgb(107,211,211);
    border-bottom: 2px solid white;
}


nav h1{
    
    font-size: 30px;
    background: linear-gradient(to right,rgb(66,180,205),white);
    background-clip: text;
    color:transparent;
}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    flex-direction: column;
    display: none;
    transition: all 0.5s;
    cursor: pointer;
}

.ham{
    width: 40px;
    height: 2px;
    background-color: aliceblue;
      transition: all 0.5s;
}

.mobilemenu {
  display: flex;
  position: fixed; 
  top: 80px;
  left: 0;         
  right: 0;         
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 20, 23, 0.95);
  backdrop-filter: blur(7px);
  transform: translateX(100%);
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  z-index: 99; 
}



.activemobile{
    transform: translateX(0%);
}

.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top:8px;
}

.activeham .ham:nth-child(2){
    opacity: 0;
}

.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top:-12px;
}

@media (max-width:750px) {
.desktopmenu{
    display: none;
}    
.hamburger{
    display: flex;
}
}
